<div class="container">
    <h1 class="titlecard"><span>New RecoFriend List</span></h1>
</div>

<br></br>

  <div class="row">
    <div class="large-2 columns"></div>
    <div class="large-8 large-centered columns">
      <div class="mainbox3">
        <%= form_for @list do |f|%>

      <div class="row">
        <div class="large-2 columns"></div>
        <div class="large-8 large-centered columns">
            <p class="rounder"<%= f.label :title, "Title" %></p>
            <p class="rounder"<%= f.text_field :title %></p>
        <div class="large-2 columns"></div>
      </div>

      <div class="row">
        <div class="large-2 columns"></div>
        <div class="large-8 large-centered columns">
          <p class="rounder"<%= f.label :body, "Body" %></p>
          <p class="rounder"<%= f.text_field :body %></p>
        <div class="large-2 columns"></div>
      </div>

      <div>
        <%= f.submit "Add List" %>
      </div>
        <% end %>
      </div>
    </div>
  <div class="large-2 columns"></div>
</div>
