<!DOCTYPE html>
<html>

<ul class="slideshow">
  <li><span></span></li>
  <li><span></span></li>
  <li><span></span></li>
  <li><span></span></li>
  <li><span></span></li>
  <li><span></span></li>
</ul>
  <head>
    <title>RecoFriend</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <header>
      <div class="row">
        <div class="large-3 columns">
          <% if current_user %>
            Signed in as <strong><%= current_user.name %></strong>!
              <%= link_to "Sign out", signout_path, id: "sign_out" %>
          <% else %>
              <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
          <% end %>
        </div>
        <div class="large-2 columns">
          <p><%=link_to "RecoFriend Index", lists_path(@lists) %></p>
          <p><%=link_to "Your Shows", shows_show_path %></p>
        </div>
        <div class="large-2 columns">
            <p><%=link_to "Make a New Post!", new_list_path%></p>
            <p><%=link_to "Add a Show!", shows_index_path(@shows)%></p>
        </div>
        <div class="large-2 columns">
          <p><%=link_to "Home", root_path %></p>
        </div>
        <div class="large-2 columns">
          <%= form_tag(searches_path, :method => "get", id: "search-form") do %>
            <%=text_field_tag :search, params[:search], placeholder: "Search Queries", class: "search" %>
            <%= submit_tag "Search", class: "hidden" %>
        </div>
      </div>
<% end %>
  </header>
</head>
  <body>


    <%= yield %>

  </body>
</html>
