<!DOCTYPE html>
<html>

<ul class="slideshow">
  <li><span></span></li>
  <li><span></span></li>
  <li><span></span></li>
  <li><span></span></li>
  <li><span></span></li>
  <li><span></span></li>
</ul>
  <head>
    <title>RecoFriend</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <header>
      <div class="row">
        <div class="large-3 columns">
          <% if current_user %>
            Signed in as <strong><%= current_user.name %></strong>!
              <%= link_to "Sign out", signout_path, id: "sign_out" %>
          <% else %>
              <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
          <% end %>
        </div>
        <div class="large-3 large-center columns">
          <p><%=link_to "See the newest RecoFriend Lists!", lists_path(@lists) %></p>
        </div>
        <div class="large-3 columns">
            <p><%=link_to "Make a New List!", new_list_path%></p>
        </div>
        <div class="large-3 columns">
          <p><%=link_to "Home", root_path %></p>
        </div>
      </div>
  </header>
</head>
  <body>


    <%= yield %>

  </body>
</html>
